{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KilyuExpenses {% block title %} {% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <style type="text/css">
      /* You can still use standard CSS here for body defaults */
      body {
        @apply bg-gray-50 text-gray-900;
      }
    </style>
  </head>
  <body class="bg-gray-50 antialiased">

    <main class="w-full">
        {% block content %}
        {% endblock %}
    </main>

  </body>
</html>